# Ignore node_modules for both frontend and backend
**/node_modules

# Ignore build artifacts for Create React App
frontend/build
frontend/dist

# Ignore build artifacts for NestJS
backend/dist

# Ignore environment files
frontend/.env
backend/.env


# Ignore log files
*.log
*.log.*


.pnpm-store
.env

